venv/
env/
.venv/

__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints/

.env
*.env
!.env.example
*api_key*

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

.DS_Store
Thumbs.db

.vscode/
.idea/